body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    position: fixed;
}

.reveal-sports{
    position: absolute;
    left: 0px;
    top: 4px;
}

.reveal-sports:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.reveal-sports:active{
    transform: scale(0.9);
}

.espn-home{
    position: absolute;
    left: 45px
}

.espn-home:hover{
    transform: scale(1.05);
}

.date-input{
    position: absolute;
    left: 165px;
    top: 5px;
    border: 1px;
    border-radius: 8px;
    border-color: black;
    border-style: solid;
    padding: 5px;
}

.date-input:hover{
    cursor: pointer;
}

.scores{
    position: absolute;
    left: 308px;
    top: 17px;
}